*{
  margin: 0  ;
  padding: 0 ;
  font-family: 'Poppins', sans-serif;
}
.header {
min-height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7) ), url(images/background.jpg)
;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
margin-bottom: 0px;
}

.logo {
  position: absolute;
  top: 40px;
  left: 9%;
  transform: translateX(-50%);
  width: 200px;
  height: auto;
  margin: -50px;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{ 
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li ::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
transition: 0.5s;
}
.nav-links ul li :hover::after{
width: 100%;
} 
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1{
font-size: 62px;
}
.text-box p{
  text-align: center;
  margin: 10px 0 40px; 
  font-size: 14px;
  color: #fff;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;

}
nav .fa{
  display: none;
}

@media (max-width: 700px){
  .text-box h1{
    font-size: 20px;
}
.nav-links ul li{
  display: block;
}
.nav-links{
  position: fixed;
  background: rgb(43, 159, 226);
  height: 100vh;
  width: 200px;
  top: 0;
  right: -200px;
  text-align: left;
  z-index: 2;
  transition: 1s;
}
nav .fa{
  display: block;
  color: #fff;
  margin: 10px;
  font-size: 22px;
  cursor: pointer;
}
.nav-links ul{
  padding: 30px;
}
}

@media(max-width: 700px){
  .column{
    flex-direction: column;
  }
}
/*-----OVERVIEW-----*/
.overviewbackground{
  width: 90%;
  height: 50vh;
  margin: 100px auto;
  box-sizing: border-box;
  border-radius: 10px;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7) ), url(images/new2.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 100px 0;
  
}
.overviewbackground:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.overviewcontainer{
  margin-top: -18%;
  margin-bottom: 10%;
  margin-left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
 font-weight: 200;
 text-align: center;
  border-radius: 5px;
  width: 90%;
  height: 46vh;
  padding-top: 2%;
}
.overview h1{
  color: #ffffff;
  font-family: 'prata', serif;
  font-weight: 700;
  font-size: 250%;
  margin-bottom: 2%;
}
.overview p{
color: #d6d6d6;
font-weight: 350;
padding-left: 6%;
padding-right: 6%;
text-align: justify;
}

/*---- services ----*/
.service-header{
  margin-bottom: 0%;
  font-family: 'prata', serif;
  color: #0d0b5c;
  font-weight: 700;
  font-size: 250%;
  text-align: center;
}
.service-description{
  margin-block: 1rem;
  font-weight: 400;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 4%;
}
.discover-grid{
  margin-top: 8rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 5rem;
  display: flex;
  gap: 3rem;
}
.discover-card{
  display: block;
  padding-right: 10%;
  margin-bottom: 8%;
  height: 70vh;
  gap: 3rem;
  margin-top: -5%;
}
.discover-card img{
  width: 140%;
  border-radius: 10px;
  height: 50%;
  gap: 0%;
}
.discover-card-content h4{
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
  align-items: center;
  padding-left: 7rem;
  padding-right: -7rem;
}
.discover-card-content p{
  padding-left: 1rem;
  margin-right: -6rem;
  text-align: center;
}
.discover-grid-two{
  margin-top: -10%;
  margin-bottom: -3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  gap: 4rem;
  padding: auto;
}
.discover-card-two{
  display: block;
  padding-right: 10%;
  margin-bottom: 8%;
  height: 70vh;
  gap: 3rem;
  margin-top: -5%;
}
.discover-card-two img{
  width: 140%;
  border-radius: 10px;
  height: 50%;
  gap: 0%;
  margin-bottom: 1rem;
}
.discover-card-two h4{
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
  align-items: center;
  padding-left: 6rem;
  padding-right: -7rem;
}
.discover-card-two p{
  padding-left: 1rem;
  margin-right: -6rem;
  text-align: center;
}
@media(max-width: 700px){
  .discover-grid{
    flex-direction: column;
  }
  }
  @media(max-width: 700px){
    .discover-grid-two{
      flex-direction: column;
    }
    }
/*-----Staff----*/

.stafff h2{
  font-family: 'prata', serif;
  color: #0d0b5c;
  font-weight: 600;
  margin-bottom: 1%;
  font-size: 250%; 
  margin-left: 3%;
  border-left: 8px solid #5c1e1a;
  padding-left: 1%;
}
.staff-grid{
  display: flex;
  margin-top: 1%;
  margin-bottom: 7%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 5%;
  gap: 3%;
  align-items: center;
}
.staff-card img{
  width: 250px;
  height: 300px;
  border-radius: 8px;
}
.staff-card-content{
  text-align: center;
}
.staff-card-content h5{
  font-weight: 500;
  color: #5c1e1a;
  margin-top: 10%;
  margin-bottom: 4%;
}
.staff-card-content h2{
  font-family: 'prata', serif;
  color: #05042c;
  font-weight: 545;
  margin-bottom: 2%;
  font-size: 200%;
}
.staff-card-content P{
  color: #646262;

}
.staff-card::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #5c1e1a;
  display: block;
  margin: auto;
  margin-top: 5%;
transition: 0.5s;
}
.staff-card:hover::after{
  width: 100%;
  } 
  @media(max-width: 700px){
    .staff{
      flex-direction: column;
    }
    }

/*---- comments----*/
.comments{
  width: 100%;
  margin-top: 2%;
  margin-bottom: 7%;
}
.commentswhole{
background-image: url(images/court.jpg);
min-height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7) ), url(images/court.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
margin-top: -4%;
padding-top: 3px;
padding-bottom: 1px;
}
.comments h2{
  font-family: 'prata', serif;
  color: #0d0b5c;
  font-weight: 600;
  margin-bottom: 5%;
  font-size: 250%; 
  margin-left: 5%;
  padding-left: 2%;
  border-left: 8px solid #5c1e1a;
}
.comments h2 hr{
margin-top: -7%;
}
.roww{
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 20px;
  cursor: pointer;
  display: flex;
  margin-top: 4%;
  gap: 4rem;
  margin-right: 30rem;
  margin-left: 2%;
}
.roww2{
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
  gap: 4rem;
  margin-left: 30rem;
  margin-top: -65px;
  margin-right: 2%;
}
.roww3{
border-radius: 10px;
  margin-bottom: 3%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
  margin-top: -4%;
  gap: 4rem;
  margin-right: 30rem;
  margin-left: 2%;
}
.comments-col img{
  height: 60px;
  width: 60px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.comments-col p{
  margin-left: 10%;
  margin-top: -6%;
  padding-left: 5%;
  padding-right: 20%;
  color: #747373;
  margin-bottom: 2%;
}
.comments-col h3{
  margin-left: 10%;
  padding-left: 5%;
}
.iconstar{
  margin-left: 10%;
  padding-left: 5%;
  color: #f44336;
}

/*---- Call To Action ----*/
.cta{
  background-color: #01002bef;
  height: 50vh;
}
.cta-text{
  color: #fff;
  padding-top: 3%;
  margin-left: 8%;
}
.cta-text h2{
  font-size: 100%;
  font-weight: 510;
  padding-bottom: 1%;
}
.loc{
  padding-right: 75%;
  margin-bottom: 1%;
  font-weight: 500;
  font-size: 110%;
}
.num{
  padding-right: 78%;
  font-weight: 500;
  margin-bottom: 1%;
}
.cta-text h4{
  font-weight: 500;
  font-size: 110%;
}
.office-loc{
  padding-left: 38%;
  margin-top: -13%;
  color: #fff;
}
.office-loc h2{
  margin-bottom: 0%;
  margin-top: 4%;
  font-size: 100%;
  font-weight: 510;
}
.office-loc-grid{
  cursor: pointer;
  display: flex;
  gap: 2%;
}
.office-loc-grid h3{
  font-size: 100%;
  font-weight: 450;
  background-color: #383849;
border-radius: 4px;
width: 11%;
height: 4.5vh;
background-size: contain;
text-align: center;
margin-bottom: 3%;
margin-top: 3%;
padding-top: 1%;
}
.office-loc-grid-two{
  display: flex;
  gap: 2%;
  cursor: pointer;
}
.office-loc-grid-two h3{
  font-size: 100%;
  font-weight: 450;
  background-color: #383849;
border-radius: 4px;
width: 11%;
height: 4.5vh;
background-size: contain;
text-align: center;
padding-top: 1%;
}
.sa{
  font-size: 100%;
  font-weight: 450;
  background-color: #383849;
border-radius: 4px;
width: 15%;
height: 4.5vh;
background-size: contain;
text-align: center;
padding-top: 1%;
}
.social-media{
  color: #fff;
  margin-left: 77%;
  margin-top: -13%;
}
.social-media h2{
  font-size: 100%;
  font-weight: 510;
  margin-bottom: 8%;
}
.social-media img{
  border-radius: 30%;
  width: 6%;
  padding: 1%;
  cursor: pointer;
}
.copyright{
  background-color: #202047ef;
  margin-top: 15.2%;
padding-bottom: 1%;
}
.copyright h3{
  color: #fff;
  text-align: center;
  font-size: 100%;
  font-weight: 500;
  padding-top: 1%;
}


/*-------about us page-------*/
.sub-header{
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/law11.jpg);
background-position: center;
background-size: cover;
text-align: center;
color: #fff;
}
.sub-header h1{
  margin-right: 70%;
margin-top: 12%;
text-align: left;
margin-left: 5%;
font-weight: 200;
font-size: 130%;

}
.sub-header P{
  padding-right: 40%;
  text-align: justify;
  margin-top: 2%;
  margin-left: 5%;
  font-weight: 200;
  font-size: 150%;
}
.sub-header h3{
  margin-right: 9%;
  margin-top: 1%;
  font-weight: 550;
}
/*----Welcome---*/
.welcome img{
  width: 40%;
  height: 80vh;
  padding-left: 10%;
}
.welcome{
  display: flex;
  margin-top: 8%;
  gap: 7rem;
  margin-bottom: 7%;
}
.welcome h1{
  margin-top: 11%;
  text-align: left;
  color: rgba(117, 49, 23, 0.774);
  font-weight: 550;
  font-size: 90%;
  margin-bottom: 3%;
}
.welcome p{
  font-weight: 400;
  font-size: 100%;
  padding-right: 30%;
  text-align: justify;
}
.welcome h2{
  font-size: 100%;
}
.copyright1{
  background-color: #202047ef;
  margin-top: 15.1%;
padding-bottom: 1%;
}
.copyright1 h3{
  color: #fff;
  text-align: center;
  font-size: 100%;
  font-weight: 500;
  padding-top: 1%;
}
.copyright{
  margin-top: 15.1%;
}
.hero-btn1{
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1.2px solid black;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-top: 3%;
  padding: 2%;
}
.hero-btn1:hover{
  border: 1px solid #070101;
  background: #070101;
  transition: 1s;
  color: #fff;
}



/*-----expertise*/
.sub-header2{
  height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(16, 22, 43, 0.7),rgba(22, 26, 39, 0.7)),url(images/court.jpg);
background-position: center;
background-size: cover;
text-align: center;
color: #fff;
}
.sub-header2 h1{
  margin-top: 3%;
  font-family: 'prata', serif;
  font-size: 400%;
  font-weight: 100;
}
.sub-header2 h3{
  font-weight: 300;
  margin-top: 1%;
}
.service-header2{
  margin-top: 10%;
  font-family: 'prata', serif;
  color: #0d0b5c;
  font-weight: 700;
  font-size: 250%;
  text-align: left;
  font-size: 250%; 
  margin-left: 5%;
  border-left: 8px solid #5c1e1a;
  padding-left: 2%;
}
.service-header3{
  padding-left: 1%;
  margin-left: 5%;
}

/*------Careers--------*/
.sub-header3{
  height: 45vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/firmover2.jpg);
background-position: center;
background-size: cover;
text-align: center;
color: #fff;
}
.careers{
  margin-top: 3%;
  margin-left: 12%;
  margin-right: 12%;
  text-align: justify;
  margin-bottom: 6%;
}
.sub-header3 h1{
margin-top: 3%;
  font-family: 'prata', serif;
  font-size: 400%;
  font-weight: 100;
}
.sub-header3 h3{
  font-weight: 350;
  margin-top: 1%;
}
.careers-app2{
  text-align: left;
  font-family: 'prata', serif;
  color: #0d0b5c;
  margin-top: 5%;
  margin-bottom: 1%;
  font-weight: 300;
  
}
.careers-app{
  font-style: italic;
  margin-top: 2%;
  color: #5857a8;
  text-align: center;
  font-family: 'prata', serif;
  margin-bottom: 3%;
  font-weight: 100;
}
.sub-header4{
  height: 45vh;
  width: 100%;
  background-image: linear-gradient(rgba(16, 22, 43, 0.7),rgba(22, 26, 39, 0.7)),url(images/customer3.jpg);
background-position: center;
background-size: cover;
text-align: center;
color: #fff;
}

/*-----Location-------*/
.sub-header4 h1{
  margin-top: 5%;
    font-family: 'prata', serif;
    font-size: 400%;
    font-weight: 100;
  }
.sub-header4 h3{
  font-weight: 350;
  margin-top: 1%;
}
  .location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
  }
 .location iframe{
  width: 100%;
 }
 .contact-us{
  width: 80%;
  margin: auto;
 }
 .contact-col{
  flex-basis: 48%;
  margin-bottom: 30px;
 }
 .contact-info{
  font-size: 110%;
  font-weight: 510;
 }
 .contact-col div{
  align-items: center;
  margin-bottom: 40px;
  font-weight: 300;
 }
 .contact-col div .fa{
  font-size: 22px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
 }
 .hero-btn2{
  display: inline-block;
  text-decoration: none;
  color: #f44336;
  border: 1.2px solid #f44336;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-top: 3%;
  padding: 2%;
}
.hero-btn2:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
  color: #fff;
}
.contact-col2{
  margin-left: 50%;
  margin-top: -28%;
  margin-right: -5%;
  margin-bottom: 20%;
}
.contact-col2 input, .contact-col textarea{
  width: 80%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.contact-col2 textarea{
  width: 80%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc
}

/*------Media -------*/
@media (max-width: 700px){
  .contact-col2{
    margin-top: 15%;
    width: 110%;
    margin-left: 2%;
  }
  .logo{
    margin-left: 12%;
    margin-top: -18%;
  }
  .sub-header4 h1{
    margin-top: 17%;
  }
  .sub-header3 h1{
    margin-top: 25%;
  }
  .cta{
    font-size: 70%;
    height: 30.3vh;
    margin-top: 19%;
  }
  .office-loc{
    margin-top: -30%;
  }
  .office-loc-grid{
    font-size: 90%;
  }
  .office-loc-grid h3{
   width: 18%;
   height: 3vh;
  }
  .office-loc-grid-two{
    font-size: 90%;
  }
  .office-loc-grid-two h3{
    width: 18%;
   height: 3vh;
  }
  .office-loc-grid-two h4{
    width: 28%;
    height: 3vh;
  }
  .social-media{
    margin-top: -23%;
    font-size: 90%;
  }
.social-media img{
width: 15%;
  }
.copyright1{
  margin-top: 32.5%;
}
.copyright{
  margin-top: 32.5%
}
.loc{
  font-size: 80%;
  margin-bottom: 2%;
  font-weight: 300;
}
.num{
  font-size: 80%;
  font-weight: 300;
  margin-bottom: 2%;
}
.cta-text h4{
  font-size: 90%;
}
.careers-app h2{
  font-size: 130%;
  margin-top: 7%;
  margin-bottom: 0%;
  padding: 5%;
}
.sub-header2 h1{
  margin-top: 20%;
}
.discover-card img{
 width: 120%;
}
.discover-card-two{
  width: 75%;
}
.services{
  width: 95%;
}
.discover-card{
  margin-top: -30%;
}
.discover-card-two{
  margin-top: -30%;
  margin-top: -15%;
}
.discover-card-content p{
  margin-left: -15%;
  margin-right: -25%;
}
.discover-card-content-two p{
  margin-left: -10%;
  margin-right: -35%;
  padding-bottom: 10%;
  margin-bottom: 10%;
}
.discover-card-content-two h4{
  padding-left: 8%;
  margin-right: -25%;
}
.discover-card-content h4{
margin-left: -30%;
}
.sub-header{
  font-size: 50%;
}
.sub-header h1{
  margin-top: 60%;
}
.sub-header p{
  margin-right: 6%;
}
.sub-header h3{
  margin-right: 30%;
  font-size: 110%;
}
.welcome img{
height: 50vh;
width: 80%;
margin-top: 5%;
margin-left: 0%;
margin-bottom: 15%;
}
.welome-text{
  font-size: 100%;
  margin-top: 80%;
  margin-left: -110%;
  margin-right: -20%;
  margin-top: 85%;
  margin-bottom: 2%;
}
.welome-text{
  font-size: 65%;
}
.overviewcontainer{
  margin-top: -60%;
  font-size: 50%;
  height: 10vh;
  width: 94%;
  margin-left: 48%;
}
.overview{
  margin-top: -15%;
  width: 95%;
  margin-left: 2%;
}
.overviewbackground{
  width: 95%;
  height: 9vh;
}
.staff{
  margin-top: -5%;
}
.staff-grid{
  flex-direction: column;
  gap: 4rem;
}
.stafff{
  margin-left: 10%;
}
.comments{
  width: 92%;
  margin-left: 2%;

}
.comments h2{
  font-size: 220%;
  padding: 10px;
  margin-bottom: 10%;
}
.roww{
  width: 80%;
  font-size: 80%;
  margin-left: 5%;
  margin-top: 10%;
}
.roww p{
  margin-right: -20%;
  margin-left: 6%;
  text-align: justify;
}
.roww2{
  width: 80%;
  font-size: 80%;
  margin-top: 10%;
  margin-left: 5%;
}
.roww2 p{
  margin-right: -20%;
  margin-left: 6%;
  text-align: justify;
}
.roww3{
  width: 80%;
  font-size: 80%;
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 15%;
}
.roww3 p{
  margin-right: -20%;
  margin-left: 6%;
  text-align: justify;
}
.comments-col img{
  width: 7%;
  height: 4vh;
}
.service-description{
  margin-left: -3%;
  text-align: justify;
  margin-right: -5%;
  padding-right: -150%;
  font-size: 85%;
  margin-bottom: 35%;
}
.header{
  margin-right: 50px;
  height: 75vh;
}
}